<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" />

      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <button type="submit">Sign up</button>

        <p> Already have an account? <a href="/sign-in">Sign In</a></p>
        
    </form>
  </body>
</html>
