<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="page">
      <div class="form-card">
        <h1 class="form-title">Create a new account!</h1>
        <form class="form" action="/auth/sign-up" method="POST">

          <div class="form-group">
            <label class="form-label" for="email">Email:</label>
            <input class="form-input" type="email" name="email" id="email" />

            <label  class="form-label" for="username">Username:</label>
            <input class="form-input" type="text" name="username" id="username" />

            <label  class="form-label" for="password">Password:</label>
            <input class="form-input" type="password" name="password" id="password" />

            <label  class="form-label" for="confirmPassword">Confirm Password:</label>
            <input class="form-input" type="password" name="confirmPassword" id="confirmPassword" />
          </div>
            
          <div class="form-actions">
          <button class="Create-btn" type="submit">Sign Up</button>
          <a class="Cancel-btn" href="/auth/sign-in">I already have an account</a>
        </div>
            
        </form>
      </div>
    </div>
  </body>
</html>
