
<nav class="navbar">

  <div class="nav-container">

    <div class="nav-left">
      <a href="/" class="logo">AZYAI</a>
    </div>


    <div class="nav-center">
      <a href="/">Home</a>
      <a href="#">Shop</a>
      <a href="#">Chats</a>
      <a href="#">About</a>
      <a href="#">Terms and Conditions</a>
    </div>
    


    <div class="nav-right">
      <input type="text" placeholder="Search for...⌕" class="nav-search" />
      <a class="icon-link" href="#">♡</a>
      <a class="icon-link" href="#">🛒</a>
    

      <% if (currentUser) { %>
      <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
      <% } %>

      <a href="/profile">
      <img class="profile-img" src="https://th.bing.com/th/id/OIP.vIq_QWTLmuEoct13lW83UwAAAA?w=183&h=183&c=7&r=0&o=7&cb=ucfimg2&dpr=1.3&pid=1.7&rm=3&ucfimg=1" alt="profile">
      </a>
   </div>








    

  </div>
</nav>
