<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

    <div class="page">

        <div class="logo-box">
            <img class="logo-img" src="/images/logo-banner.png" alt="Azyai banner">
        </div>
        <h1 class="home-title">Welcome to Azyai</h1>
        <p class="home-subtitle">Discover unique fashion from local designers.</p>
        
         <% if (currentUser) { %>
        <a class="vendor-link" href="/vendor/request">You Want to be a Vendor?</a><% } %>

        <div class="home-actions">
        <a href="/cloth" class="All-Clothes-btn">View All Clothes</a>
        <% if (currentUser &&(currentUser.role === "vendor" || currentUser.role === "admin")){ %>
        <a href="/cloth/new" class="add-new-cloth-btn">Add New Cloth</a>
        <% } %>
        <% if (currentUser && currentUser.role === "admin") { %>
        <a href="/admin/vendor-requests" class="review-vendor-requests-btn">Review Vendor Requests</a>
        <% } %>
        </div>

    

  
    </div>
</body>
</html>