<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1> Welcome to Azyai</h1>
        <ul>
            <% if (currentUser) { %>
        <a href="/vendor/request">Vendor</a><% } %>
        <li><a href="/cloth">View All Clothes</a></li>
        <li><a href="/auth">acount</a></li>
        <% if (currentUser &&(currentUser.role === "vendor" || currentUser.role === "admin")){ %>
        <li><a href="/cloth/new">Add New Cloth</a></li>
        <% } %>

    </ul>

</body>
</html>