* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}


.navbar {
  width: 100%;
  background-color: #3b4f7f; 
  padding: 12px 24px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  color: white;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-center a {
  color: white;
  text-decoration: none;          
  font-size: 14px;
}


.nav-center a:hover {
  color: #e8c456; 
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}


.nav-search {
  width: 150px;
  padding: 7px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 13px;
}

.icon-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.icon-link:hover {
  color: #e8c456;
}

.auth-link {
  color: white;
  text-decoration: none;        
  font-size: 14px;
}

.auth-link:hover {
  color: #e8c456;
}


.profile-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


/* pages */

/* homepage */
.page{
  padding: 40px 24px;
  max-width: 1100px;
  margin: 0 auto;
}


.logo-box{
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin-bottom: 22px;
}


.logo-img{
  width: 100%;
  height: 400px;      
  object-fit: cover;  
  display: block;
}


.home-title{
  font-size: 32px;
  margin-bottom: 10px;
  color: #111827;
  text-align: center;
}


.home-subtitle{
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 16px;
  text-align: center;
}


.vendor-link{
  display: block;
  margin-bottom: 18px;
  color: #3b4f7f;
  text-decoration: none;
  font-weight: 700;
  text-align: center;

}

.vendor-link:hover{
  color: #facc15; 
}

.home-actions{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 10px;
  justify-content: center;
}


.All-Clothes-btn{
  background: #3b4f7f;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.All-Clothes-btn:hover{
  background: #2f4066;
}

.add-new-cloth-btn{
  background: #facc15; 
  color: #111827;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;

}

.add-new-cloth-btn:hover{
  background: #f4c430;
}


.review-vendor-requests-btn{
  background: #111827;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;

}

.review-vendor-requests-btn:hover{
  background: #000000;
}

