<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Clothes</title>
</head>
<body>
    <h1>All Available Clothes</h1>

    <% if (isOwner || isAdmin){ %>
     <a href="/cloth/new">Create new cloth</a>
    <% } %>

    <% allCloth.forEach((onecloth) => { %>
         <div style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px;">

            <h2><%= onecloth.name %></h2>
            <% if (onecloth.images && onecloth.images.length > 0) { %>
                <img src="<%= onecloth.images[0] %>" width="200" alt="Cloth image">
            <% } else { %>
                <p>No image available</p>
            <% } %>

            <br>
            <a href="/cloth/<%= onecloth._id %>">View Details</a>
            </div>
            <hr>
    
    <% }); %>
</body>
</html>