<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New clothes</h1>

    <form action="/cloth"  method="POST"  enctype="multipart/form-data">

        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="description">Description</label>
        <input type="text" id="description" name="description">

        <br>
        <label>Available Sizes:</label><br>
        <label><input type="checkbox" name="sizes" value="XS"> XS </label>
        <label><input type="checkbox" name="sizes" value="S"> S </label>
        <label><input type="checkbox" name="sizes" value="M"> M </label>
        <label><input type="checkbox" name="sizes" value="L">  L  </label>
        <label><input type="checkbox" name="sizes" value="XL"> XL </label>

        <br>
        <label for="images">Upload Imges</label>
        <input type="file" id="images" name="images" multiple>
        <br>
        <label for="price">Price</label>
        <input type="number" id="price" name="price">
        <br>
        <label for="isAvailable">Is Available</label>
        <input type="checkbox" id="isAvailable" name="isAvailable">
        <br>


        <button type="submit">Create</button>

        <br>
        <a href="/cloth"> ← Back to all clothes </a>





    </form>
</body>
</html>