<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="page">
        <div class="form-card">
            <h1 class="form-title">Add New Cloth</h1>

            <form class="form" action="/cloth"  method="POST"  enctype="multipart/form-data">

                <div class="form-group">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-input" type="text" id="name" name="name">
                </div>

                <div class="form-group">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-input" type="text" id="description" name="description">
                </div>
                
                    <div class="form-group">
                        <label class="form-label" for="price">Price (BD)</label>
                        <input class="form-input" type="text" id="price" name="price" step="0.1">
                    </div>
                    <div class="sizes-row">
                        <label><input type="checkbox" name="sizes" value="XS"> XS</label>
                        <label><input type="checkbox" name="sizes" value="S"> S</label>
                        <label><input type="checkbox" name="sizes" value="M"> M</label>
                        <label><input type="checkbox" name="sizes" value="L"> L</label>
                        <label><input type="checkbox" name="sizes" value="XL"> XL</label>
                    </div>
                

                <div class="form-group">
                    <label class="form-label" for="images">Upload Imges</label>
                    <input class="form-input" type="file" id="images" name="images" multiple>
                </div>

                <div class="form-check">
                    <label class="form-label" for="isAvailable">Is Available</label>
                    <input class="form-input" type="checkbox" id="isAvailable" name="isAvailable">
                </div>


                <div class="form-actions">
                    <button class="Create-btn" type="submit">Create</button>
                    <a class="Cancel-btn" href="/cloth">Cancel</a>
                </div>


            </form>

        </div>
    </div>
</body>
</html>